[Unit]
Description=tmux for session %u

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s %u -e HYPRLAND_INSTANCE_SIGNATURE=$HYPRLAND_INSTANCE_SIGNATURE -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=default.target

